
.sectors,
.society,
.title,
.next-dividend-date,
.fondamentals,
.boerse,
.graphics,
.dividend-chart
{
	clear: 		both;
}

main > article
{
	margin-top:		10px;
	border-top: 	solid 2px black;
}

/*---*/

nav
{
  position: sticky;
  top: 		0;
  z-index: 	500;

  background-color: rgb(220, 220, 220);
}
.sectors .sector
{
	display: 		inline-block;
	margin-right: 	10px;
	padding: 		2px 10px;

	background-color: rgb(200, 200, 200);
}
.sectors .count-us,
.sectors .count-eu,
.sectors .count-all
{
	display: 	inline-block;
	width: 		40px;
}
.sectors .name
{
	margin-right: 10px;
}

/*---*/

.summary
{
	display:			inline-block;
	width:				100%;
	padding: 			5px 0;

	border-bottom: 		dashed 1px black;
	background-color: 	rgba( 0, 128, 255, .2 );
}

.summary > *,
.summary .yield > *
{
	display:	inline-block;
	padding:	3px 5px;
}
.summary .beta
{
	width:		75px;
	text-align:	left;

	color:		rgb(128, 128, 128);
}
.summary .price
{
	width:		125px;
	text-align:	right;
}
.summary .notation
{
	width:				150px;
	text-align:			center;
	vertical-align: 	middle;
	color:				rgb( 255, 191, 0 );
}
.summary .notation.star4
{
	/* border:				double black; */
	background-color:	rgba( 0, 128, 255, .8 );
}
.summary .notation.star4.jackpot
{
	color:				rgb( 255, 128, 0 )
}
.summary .notation.star3
{
	/* border:				solid 1px black; */
	background-color:	rgba( 0, 128, 255, .5 );
}
.summary .notation.star2
{
	/* border:				dashed 1px black; */
	background-color:	rgba( 0, 128, 255, .2 );
}
.summary .notation.star1
{
	/* border:				dotted 1px black; */
	background-color:	rgba( 0, 128, 255, .0 );
}
.summary .name
{
	width:		500px;
}
.summary .invested
{
	width:		150px;
	text-align:	right;
}
.summary .yield .current
{
	width:		100px;
	text-align:	right;
}
.summary .yield .growth
{
	width:		150px;
	color:		rgb(128, 128, 128); 
}
.summary .yield .years-10
{
	width:		150px;
}

/*---*/

.title
{
	display: 	block;
	
	text-align: center;
	font-size: 	25px;
	font-weight:bold;
}
.title .price .value
{
	color:		rgb( 100, 100, 255 );
}
.price.realtime .value.up
{
	color:		rgb( 0, 190, 0 );
}
.price.realtime .value.down
{
	color:		rgb( 255, 100, 100 );
}
.title .invested
{
	color:		rgb( 128, 128, 128 );
}
.invested.high
{
	background-color:	rgba( 0, 255, 0, 0.25 );
}
.invested.mid
{
	background-color:	rgba( 255, 197, 92, 0.25 );
}
.invested.low
{
	background-color:	rgba( 255, 0, 0, 0.25 );
}

.next-dividend-date
{
	display: 	block;
	
	text-align: center;
}
.next-dividend-date .entry
{
	display: 	block;
	text-align: center;
}

.graphics > *
{
	display: inline-block;
	vertical-align: middle;
}

.growth tr th
{
	width: 50px;
	background-color: #eeeeee;
}
.growth tr th:first-child
{
	width: 200px;
	text-align: left;
}
.growth tr td
{
	text-align: right;
}
.growth tr th,
.growth tr td
{
	padding: 2px;
}

.dividend-chart .chart
{
	display:	none;
}

/*---*/

.fondamentals tr.separator td
{ 
	border-top: solid 1px black;
}

.last10 th,
.last10 td,
.fondamentals th,
.fondamentals td
{
	padding:	2px 2px;
}
.last10 th,
.fondamentals th
{
	background-color: rgba( 0, 0, 0, 0.10 );
}
.last10 th:first-child,
.fondamentals th:first-child,
.last10 th:last-child,
.fondamentals th:last-child
{
	width: 220px;
}
.last10 th,
.fondamentals th
{
	width: 90px;
}
.last10 td,
.fondamentals td
{
	text-align:		right;
}
.less-important
{
	color: #AAAAAA;
}
.past-date
{
	color: rgb(128, 128, 128);
}
.minus,
.close-date
{
	background-color: rgba( 255, 0, 0, 0.25 );
}
.bof
{
	background-color: rgba( 255, 197, 92, 0.25 );
}
.plus,
.far-date
{
	background-color: rgba( 0, 255, 0, 0.25 );
}

/*---*/

.image-holder
{
	position	: relative;
	display		: inline-block;
	overflow	: hidden; 
}

.vertical,
.horizontal
{ 
	display				: none;
	background-color	: black;
	position			: absolute; 
}
.vertical
{
	width	: 2px;
	height	: 100%;
}
.horizontal
{
	width	: 100%;
	height	: 2px;
}

/*---*/

.stock-index header
{
	text-align: center;
}
