
.society
.title,
.next-dividend-date,
.fondamentals,
.boerse,
.graphics,
.dividend-chart
{
	clear: 		both;
}

/*---*/

.society
{
}

.title
{
	display: 	block;
	
	text-align: center;
	font-size: 	25px;
	font-weight:bold;
}
.title .price .value
{
	color:		rgb( 100, 100, 255 ); 
}

.next-dividend-date
{
	display: 	block;
	
	text-align: center;
}
.next-dividend-date .entry
{
	display: 	block;
	text-align: center;
}

.growth
{
	display:	inline-block;
	vertical-align: top;		/* don't know why juste for growth -_- */
}
.growth tr th
{
	width: 50px;
	background-color: #eeeeee;
}
.growth tr th:first-child
{
	width: 200px;
	text-align: left;
}
.growth tr td
{
	text-align: right;
}
.growth tr th,
.growth tr td
{
	padding: 2px;
}

.dividend-chart .chart
{
	display:	none;
}

/*---*/

.clear
{
	clear: both;
}
.float
{
	float: left; 
}

.fondamentals tr.separator td
{ 
	border-top: solid 1px black;
}

.last10 th,
.last10 td,
.fondamentals th,
.fondamentals td
{
	padding:	2px 2px;
}
.last10 th,
.fondamentals th
{
	background-color: rgba( 0, 0, 0, 0.10 );
}
.last10 th:first-child,
.fondamentals th:first-child,
.last10 th:last-child,
.fondamentals th:last-child
{
	width: 220px;
}
.last10 th,
.fondamentals th
{
	width: 80px;
}
.last10 td,
.fondamentals td
{
	text-align:		right;
}
.less-important
{
	color: #AAAAAA;
}
.left-space
{
	border-left-width: 50px;
	border-left-style: solid;
	border-left-color: rgba( 255, 255, 255 );
}
.minus,
.close
{
	background-color: rgba( 255, 0, 0, 0.25 );
}
.bof
{
	background-color: rgba( 255, 197, 92, 0.25 );
}
.plus,
.far
{
	background-color: rgba( 0, 255, 0, 0.25 );
}

/*---*/

.image-holder
{
	position	: relative;
	display		: inline-block;
	overflow	: hidden; 
}

.vertical,
.horizontal
{ 
	display				: none;
	background-color	: black;
	position			: absolute; 
}
.vertical
{
	width	: 2px;
	height	: 100%;
}
.horizontal
{
	width	: 100%;
	height	: 2px;
}